<!DOCTYPE html>
<html lang="es"
      th:lang="${#locale.language}"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error 404</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="mx-auto pt-md-5 pt-3">
            <div class="jumbotron">
                <h1 class="display-4">Error 404</h1>
            </div>
        </div>
    </div>
</section>
</body>
</html>