<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{nfcCards}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="mx-auto pt-md-5 pt-3">
            <div class="text-right mb-3">
                <a aria-pressed="true" class="btn btn-primary" href="/nfc-cards/add"
                   role="button">
                    <i aria-hidden="true"
                       class="fa fa-plus fa-fw"></i>
                    <span th:text="#{addNew}"></span>
                </a>
            </div>
            <div class="alert alert-warning" role="alert"
                 th:if="${nfcCardEagerDTOList.size() < 1}" th:text="#{noRecordFound}">
            </div>
            <div class="table-responsive" th:if="${nfcCardEagerDTOList.size() > 0}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{code}"></th>
                        <th th:text="#{user}"></th>
                        <th th:text="#{action}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="nfcCardEagerDTO : ${nfcCardEagerDTOList}">
                        <td th:text="${nfcCardEagerDTO.getCode()}"></td>
                        <td>
                            <a th:if="${nfcCardEagerDTO.getUser() != null}"
                               th:href="${'/users/' + nfcCardEagerDTO.getUser().getUuid()}"
                               th:text="${nfcCardEagerDTO.getUser().getRut()}"></a>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-secondary"
                                   th:href="${'/nfc-cards/' + nfcCardEagerDTO.getUuid()}"
                                   th:text="#{viewDetails}"></a>
                                <a class="btn btn-warning"
                                   th:href="${'/nfc-cards/' + nfcCardEagerDTO.getUuid() + '/delete'}"
                                   th:text="#{delete}"></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>