<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehículo</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="mx-auto pt-md-5 pt-3">
            <form id="vehicle" method="post" name="vehicle"
                  th:action="${formAction}"
                  th:object="${vehicleDTO}">
                <div class="alert alert-danger small"
                     th:if="${#fields.hasErrors('*')}">
                    <ul class="list-unstyled m-0">
                        <li th:each="e : ${#fields.detailedErrors()}">
                            <span class="font-weight-bolder"
                                  th:text="#{${e.fieldName}}"></span>:
                            <span th:text="${e.message} + '.'"></span>
                        </li>
                    </ul>
                </div>
                <div class="alert alert-success" role="alert"
                     th:if="${recordUpdated}">
                    Registro actualizado con éxito.
                </div>
                <div class="form-group">
                    <label for="plate">Patente</label>
                    <input class="form-control" id="plate" name="plate"
                           th:field="*{plate}" type="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Aceptar</button>
                </div>
            </form>
        </div>
</section>
</body>
</html>