<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{vehicles}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="mx-auto pt-md-5 pt-3">
            <div class="text-right mb-3">
                <a aria-pressed="true" class="btn btn-primary" href="/vehicles/add"
                   role="button">
                    <i aria-hidden="true"
                       class="fa fa-plus fa-fw"></i>
                    <span th:text="#{addNew}"></span>
                </a>
            </div>
            <div class="alert alert-warning" role="alert"
                 th:if="${vehicleDTOList.size() < 1}" th:text="#{noRecordFound}">
            </div>
            <div class="table-responsive" th:if="${vehicleDTOList.size() > 0}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{plate}"></th>
                        <th th:text="#{action}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vehicleDTO : ${vehicleDTOList}">
                        <td th:text="${vehicleDTO.getPlate()}"></td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-secondary"
                                   th:href="${'/vehicles/' + vehicleDTO.getUuid()}"
                                   th:text="#{viewDetails}"></a>
                                <a class="btn btn-warning"
                                   th:href="${'/vehicles/' + vehicleDTO.getUuid() + '/delete'}"
                                   th:text="#{delete}"></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>