<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehículos</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="mx-auto pt-md-5 pt-3">
            <div class="text-right mb-3">
                <a href="/vehicles/add" class="btn btn-primary" role="button"
                   aria-pressed="true">
                    <i class="fa fa-plus fa-fw"
                       aria-hidden="true"></i>
                    <span>Añadir vehículo</span>
                </a>
            </div>
            <div  class="alert alert-warning" role="alert"
                  th:if="${vehicleDTOList.size() < 1}">
                No se ha añadido ningún vehículo
            </div>
            <div class="table-responsive" th:if="${vehicleDTOList.size() > 0}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Patente</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="vehicleDto : ${vehicleDTOList}">
                        <td th:text="${vehicleDto.getPlate()}"></td>
                        <td>
                            <div class="row m-0 p-0">
                                <div class="col-6">
                                    <a th:href="${'/vehicles/' + vehicleDto.getUuid()}"
                                       class="btn btn-outline-primary" role="button"
                                       aria-pressed="true">
                                        <i class="fa fa-pencil-square-o fa-fw"
                                           aria-hidden="true"></i> Ver / Actualizar
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a th:href="${'/vehicles/' + vehicleDto.getUuid() + '/delete'}"
                                       class="btn btn-outline-secondary" role="button"
                                       aria-pressed="true">
                                        <i class="fa fa-pencil-square-o fa-fw"
                                           aria-hidden="true"></i> Eliminar
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>