<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{doors}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="mx-auto pt-md-5 pt-3">
            <div class="text-right mb-3">
                <a href="/doors/add" class="btn btn-primary" role="button"
                   aria-pressed="true">
                    <i class="fa fa-plus fa-fw"
                       aria-hidden="true"></i>
                    <span th:text="#{addNew}"></span>
                </a>
            </div>
            <div class="alert alert-warning" role="alert"
                  th:if="${doorDTOList.size() < 1}" th:text="#{noRecordFound}">
            </div>
            <div class="table-responsive" th:if="${doorDTOList.size() > 0}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{name}"></th>
                        <th th:text="#{levelAccess}"></th>
                        <th th:text="#{action}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="doorDTO : ${doorDTOList}">
                        <td th:text="${doorDTO.getName()}"></td>
                        <td th:text="${doorDTO.getLevelAccess()}"></td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-secondary"
                                   th:href="${'/doors/' + doorDTO.getUuid()}"
                                   th:text="#{viewDetails}"></a>
                                <a class="btn btn-warning"
                                   th:href="${'/doors/' + doorDTO.getUuid() + '/delete'}"
                                   th:text="#{delete}"></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>